

.page {
    background: mintcream;
}
.header {
    padding: 30px;
    text-align: center;
}

.main_tile {
    color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 12px;
    padding: 8px 20px;
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 0 0 1px cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
    font-family: 'Segoe UI', sans-serif;
}

.welcome {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
    font-family: 'Segoe UI', sans-serif;
}

.points {
    display: flex;
    color: cornflowerblue;
    font-family: 'Segoe UI', sans-serif;
    gap: 8px;
}

.lesson_title{
    font-family: 'Segoe UI', sans-serif;
     color: cornflowerblue;
}

.lesson-card {
    background: white;
    border: 2px solid cornflowerblue;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    width: 300px;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lesson-card h3 {
    font-family: 'Segoe UI', sans-serif;
    color: cornflowerblue;
    margin-bottom: 8px;
}

.lesson-card p {
    font-family: 'Segoe UI', sans-serif;
    color: gray;
}

.lesson_blocks{
    display:flex;
}